



<div class="container-fluid">
  <div class="row">
    <div class="col-sm-1">
        <!DOCTYPE html>
        <html>
        <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
       
        </style>
        </head>
        <body>
        
        <div class="sidenav">
          <a routerLink="/trending">Trending Chart</a>
          <a routerLink="/popularmovies">Popular Movies</a>
      
        </div>
            
        </body>
        </html> 
    </div>
    <div class="col-sm-1">
        
    </div>
    <div class="col-sm-9">
        <router-outlet></router-outlet>
    </div>
  </div>
</div>
