<!DOCTYPE html>
<html>

<body>
    <section>
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <h2>MOVIES LIST</h2>
                    <div class="col-sm-4" *ngFor="let movies of movieList">
                        <div class="price-table">
                            <div class="price-head">
                                <h4>{{movies.moviename}}</h4>
                            </div>
                            <div class="price-content">
                                <img src="https://image.tmdb.org/t/p/w500/{{movies.movieimgpath}}">
                            </div>
                        </div>
                    </div>               
                </div>
            </div>
        </div>
    </section>
</body>
</html>
